html {
  font-size: 62.5%;
  height: 100%;
}
body {
  width:980px;
  margin:0 auto;
  height: 100%;
}
ul{
  margin: 0;
  padding: 0;
}
ul.top_menu{
  float: right;
}
li{
  list-style: none;
}
.header {
  background: #f5b4b3;
  height: 50px;
  font-size: 1.5rem;
}
.logo_image {
  width: 110px;
  float: left;
  margin: 0;
}
.top_menu li{
  float: left;
  width: auto;

}
.top_menu li a{
  padding: 15px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.top_menu li a:hover{
  text-decoration: underline;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.image_area{
  width: 100%;
}
.side_menu li{
  background-color: #f5b4b3;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li a{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.side_menu li:hover{
  opacity: 0.6;
}
.banner img{
  width: 100%;
}
.banner {
  margin-top: 10px;
}
.banner img:hover{
  opacity: 0.6;
}
.side_menu{
  width: 300px;
  float: left;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.content{
  width: 660px;
  margin-left: 20px;
  float: left;
  font-size: 1.5rem;
}
.news{
  height: 200px;
  background-color: #fce8e7;
  padding: 20px;
  overflow: scroll;
  line-height: 2;
}
.footer{
  background-color: #4d4d4d;
  height: 100px;
  width: 980px;
  position: fixed;
  bottom: 0;
  display: table;
}
.footer p{
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.container{
  width: 100%;
  margin:0 auto;
  position: relative;
  min-height: 100%;
}


.banner2{
  display:table;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.banner2 li{
  display: table-cell;
}
.banner2 li img{
  width: 100%;
}


.side_menu .point{
  background-color: #fcecec;
}
.side_menu .point a{
  color: #4d4d4d;
}
.side_menu .point2{
  background-color: #fcecec;
}
.side_menu .point2 a{
  color: #4d4d4d;
}
.side_menu .point3{
  background-color: #fcecec;
}
.side_menu .point3 a{
  color: #4d4d4d;
}
